@*@model Abruple.App.Models.ViewModels.User.UserPersonalDataViewModel*@
@model Abruple.App.Models.ModelWrapper

@{
    ViewBag.Title = "Profile";
}

<h2>@Model.UserPersonalDataViewModel.Username</h2>

@Html.Partial("_userPersonalDataPartial", Model)

