@using Microsoft.AspNet.Identity
@model Abruple.App.Models.ModelWrapper

@if (this.User.IsInRole("Admin") || Model.ContestDetailsViewModel.Author == this.User.Identity.GetUserName())
{
    <button class="btn btn-success">
        <span class="glyphicon glyphicon-ok-circle"></span>
        Finalize
    </button>
    <button class="btn btn-warning">
        <span class="glyphicon glyphicon-wrench"></span>
        Edit
    </button>
    <button class="btn btn-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        Dismiss
    </button>
}
else
{
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create-contest-entry-form-dialog" data-backdrop="false" title="Create new contest">
        <span class="glyphicon glyphicon-ok-circle"></span>
        Participate
    </button>

    using (Html.BeginForm("NewEntry", "ContestEntry", FormMethod.Post, new { enctype = "multipart/form-data", id = "create-entry-create-form" }))
    {
        @Html.AntiForgeryToken()
        <div id="create-contest-entry-form-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div id="create-contest-form-content" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-target="#create-contest-entry-form-dialog">&times;</button>
                        <h4 class="modal-title">Entry</h4>
                    </div>
                    <div id="entry-modal-body" class="modal-body">
                        @Html.EditorForModel("NewContestEntryBindingModel")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="#create-contest-entry-form-dialog">Cancel</button>

                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    }
}