@using Abruple.App.Models.ViewModels.ContestEntry
@model IEnumerable<Abruple.App.Models.ViewModels.ContestEntry.ContestEntryShortViewModel>
@{
    ViewBag.Title = "Pending Contest Entries";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @Html.DisplayFor(x => x)

</div>

