@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<Abruple.App.Areas.Admin.Models.AdminContestConciseViewModel>
@{
    ViewBag.Title = "Manage Contests";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="container table">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <td class="col col-xs-push-9">Title</td>
                <td class="col col-sg-2">Author</td>
                <td class="col col-sg-2">Date</td>
                <td class="col col-lg-2">Entries</td>
                <td class="col col-lg-1">Pending Entries</td>
            </tr>
        </thead>
        <tbody id="contests-table-body">
            @Html.Partial("_adminContestsListPartial", Model)
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

